/*

CSS Notes

*/

/* link to stylesheet

<link rel="stylesheet" href="<filename>.css">;

*/

/* multiple selectors

h1, h2, h3 {
    stuff: stuff;
}
*/

/* Style a class nested in a div
div .<class> {
    stuff: stuff;
}

/* Style a nested div class 
div.class {
    stuff: stuff;
}
*/

/* style a nested child class
.parent > p {
    stuff: stuff;
}
*/


