body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

div, header, footer {
    border-radius: 3px;
}

@media only screen and (min-width: 400px) {
    #grid-container {
        background-color: seashell;
        display: grid;
    }

    #grid-container > div {
        display: grid;
        border-radius: 3px;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    header {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        background-color: slategray;
        border-radius: 3px;
        grid-gap: 5px;
    }

    #sidebar {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        background-color: darkgray;
        grid-gap: 4px;
        border-radius: 3px;
    }

    #content {
        grid-column: 1 / 1;
        grid-row: 3 / 4;
        background-color: slategray;
    }

    #sidebar2 {
        grid-column: 1 / 1;
        grid-row: 4 / 5;
        background-color: darkgray;
    }

    footer {
        grid-column: 1 / 1;
        grid-row: 5 / 6;
        background-color: slategray;
        border-radius: 3px;
        grid-gap: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px), (min-width: 1100px) {
    #grid-container > div {
        border: 2px solid seashell;
        border-radius: 4px;
        grid-gap: 4px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
    }

    header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    #sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: darkgray;
        grid-gap: 4px;
        border-radius: 3px;
    }

    #content {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        background-color: slategray;
    }

    #sidebar2 {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        background-color: darkgray;
    }

    footer {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        background-color: slategray;
        border-radius: 3px;
        grid-gap: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    #grid-container {
        background-color: seashell;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr; 
    }
   
    #grid-container > div {
        border: 3px solid seashell;
        border-radius: 3px;
        grid-gap: 5px;

    }

    header {
        background-color: slategray;
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }

    #sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: darkgray;

    }

    #content {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: slategray;
        overflow-y: scroll;
        border-radius: 3px;
    }

    #sidebar2 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        background-color: darkgray;
    }

    footer {
        grid-column: 1 / 6;
        grid-row: 5 / 6;
        background-color: slategray;
        border-radius: 3px;
    }
}

